@font-face {
    font-family: Neue;
    src: url(./601401c0c20f6600a666f09f.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Neue;
    color: #5b5e5d;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden !important;
}

#home #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

#home #overlay .tnav,
#page2 .tnav {
    width: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    /* background-color: aqua; */
}

#home #overlay .centerImg h1 {
    font-size: 1vw;
    text-transform: uppercase;
}

#home #overlay .centerImg .ph {
    margin-top: 1vw;
}

#home #overlay .centerImg {
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    /* background-color: red; */
}

#home #overlay .centerImg .centerInsideImg {
    margin-top: 1vw;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 99;

}

#home #overlay .centerImg .centerInsideImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: 99;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#home #overlay .bnav,
#page2 .bnav {
    width: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 99;
    /* background-color: aqua; */
}

#home #overlay .bnav img,
#page2 .bnav img {
    width: 5vw;
}

#home #overlay .tnav .tnavl h1,
#page2 .tnav .tnavl h1 {
    text-transform: uppercase;
    font-size: 1.3vw;
    color: #5b5e5d;
    font-weight: 500;
}

#home #overlay .tnav .tnavr,
#page2 .tnav .tnavr {
    display: flex;
}

#home #overlay .tnav .tnavr .color1,
#page2 .tnav .tnavr .color1 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(212.5, 212.5, 212.5);
    /* border: 1px solid black; */
}

#home #overlay .tnav .tnavr .color2,
#page2 .tnav .tnavr .color2 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(170, 170, 170);
    /* border: 1px solid black; */
}

#home #overlay .tnav .tnavr .color3,
#page2 .tnav .tnavr .color3 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(127.5, 127.5, 127.5);
    /* border: 1px solid black; */
}

#home #overlay .tnav .tnavr .color4,
#page2 .tnav .tnavr .color4 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(85, 85, 85);
    /* border: 1px solid black; */
}

#home #overlay .tnav .tnavr .color5,
#page2 .tnav .tnavr .color5 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(42.5, 42.5, 42.5);
    /* border: 1px solid black; */
}

#home #overlay .tnav .tnavr .color6,
#page2 .tnav .tnavr .color6 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(0, 0, 0);
    /* border: 1px solid black; */
}

#home #overlay .gallery h1 {
    font-size: 10vw;
    text-transform: uppercase;
    user-select: none;
    position: absolute;
    z-index: 99;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#home #overlay .pinkFlare h1 {
    white-space: nowrap;
    color: #ffffff;
    font-size: 10vw;
    text-transform: uppercase;
    user-select: none;
    position: absolute;
    z-index: 99;
    bottom: -50%;
    left: 50%;
    transform-origin: 0 50%;
    transform: translate(-50%, 0%) rotate(30deg);
}

#home #overlay .gola {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-color: #CAAABA;
}

#home #overlay .pinkBox {
    position: absolute;
    z-index: 98;
    top: 150%;
    width: 35vw;
    height: 35vw;
    padding-top: 11vw;
    padding-left: 5vw;
    background-color: #c99ab2;
}

#home #overlay .pinkBox h3 {
    font-size: 1vw;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;

}

#home #overlay .pinkBox .colorCode {
    margin-top: 8vw;
    display: flex;
    align-items: center;
    gap: 13vw;
}

#home #overlay .pinkBox .colorCode h1 {
    color: #fff;
    font-size: .8vw;
    font-weight: 1;
    text-transform: uppercase;
    position: relative;
}

#home #overlay .pinkBox .colorCode sub {
    position: absolute;
    color: #fff;
    font-weight: 1;
    font-size: 1.8vw;
    top: 50%;
}

#home #overlay .pinkBox h3:nth-child(2) {
    margin-top: 1vw;
}

#home #overlay .pinkBox h3:nth-child(4) {
    margin-top: 1vw;
}

#home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#smCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#home #circle {
    width: 60vw;
    height: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(255, 255, 255); */
    border-radius: 50%;
}

#home #circle #top {
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.461); */
    position: absolute;
}

#home #circle #btm {
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.461); */
    position: absolute;
}

#home #circle img {
    width: 100%;
}

#home #circle #top img {
    position: absolute;
    transform: rotate(-180deg);
}

#home #circle #btm img {
    position: absolute;
}

#home #circle #top img:nth-child(1) {
    transform: scale(2) rotate(-180deg);
}

#home #circle #top img:nth-child(3) {
    transform: scale(1) rotate(-180deg);
}

#home #circle #top img:nth-child(2) {
    transform: scale(1.5) rotate(-180deg);
}

#home #circle #btm img:nth-child(1) {
    transform: scale(2);
}

#home #circle #btm img:nth-child(2) {
    transform: scale(1.5);
}

#home #circle #btm img:nth-child(3) {
    transform: scale(1);
}

#page2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#page2 .page2Top {
    height: 65%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
#page2 .page2Top>h1{
    position: absolute;
    z-index: 2;
    font-size: 30vw;
    text-transform: uppercase;
    color: #fff;
    bottom: 0;
    line-height: 20vw;
    left: 100%;
}
#page2 .page2Top .circle {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

#page2 .page2Top .pi {
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 150%;
    transform: translate(-50%, -50%);
    background-color: #D5A7B4;
}

#page2 .page2Top .pur {
    position: absolute;
    left: 55%;
    top: 150%;
    transform: translate(-50%, -50%);
    background-color: #B4AAD5;
}

#page2 .page2btm {
    width: 100%;
    height: 35%;
    position: absolute;
}
#page2 .page2btm h1#one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vw;
}
#page2 .page2btm h1#two{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vw;
    opacity: 0;;
}
#page2 .page2btm .page2btmCount{
    width: 2vw;
    height: 2vw;
    padding: 2vw;
    font-size: 2vw;
    position: absolute;
    top: 3%;
    left: 3%;
    border: 2px solid #5b5e5d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .page2btm .page2btmCount #page2btmCount0,
#page2 .page2btm .page2btmCount #page2btmCount1,
#page2 .page2btm .page2btmCount #page2btmCount2{
    position: absolute;
}

#page2 .page2btm .page2btmCount #page2btmCount1{
    top: 100%;
}
#page2 .page2btm .page2btmCount #page2btmCount2{
    top: 100%;
}